<% content_for :js_ready do %>
    //Setup the overlays
    $("a[rel]").overlay({
      top: 150,
      onBeforeLoad: function() {
        var wrap = this.getOverlay().find(".contentWrap");
        wrap.load(this.getTrigger().attr("href"));
      }
    });
    //Map work
    var point = {latitude: <%= MAP_CENTER[:lat] %>, longitude: <%= MAP_CENTER[:long] %>};
    map = setup_map(point, 15);
    $.ajaxSetup({
      timeout: <%= AJAX_TIMEOUT %>
    });
    $('#status').ajaxError(function(e, xhr, settings, exception){
      $(this).text("Unable to load data.");
      $('#loading_icon').hide();
      $('#error_icon').show();
    });
    $('#status').ajaxStart(function(){
      $(this).text("Loading...");
      $('#error_icon').hide();
      $('#loading_icon').show();
    });
    $('#status').ajaxSuccess(function(){
      $('#loading_icon').hide();
    });
    updater = setInterval("update()", <%= UPDATE_INTERVAL %>);
    routes_and_stops();
    update(); //Run the first update instead of waiting.
<% end %>
<% content_for :js do %>
  var current_data_path = '<%= current_vehicles_path(:format => 'js') %>';
  var netlink_data_path = '<%= displays_netlink_path(:format => 'js') %>';
  var base_icon = '<%= rotate_icon_path(:id => ':id', :heading => ':heading', :format => 'png') %>';
  var stop_icon_path = '<%= image_path "blue_dot.png" %>';
<% end %>
<%#*<div id="shuttle_logo"></div>%>
  <% content_for :large do %>
  <div data-role="panel" data-id="menu">
    <div data-role="page" id="eta">
      <div data-role="header"> 
            <h1>RPI Shuttles</h1>
            <a href="#" data-role="button" data-icon="refresh" data-iconpos="notext" id="refresh">Refresh</a>
      </div>
      <div data-role="content">
        <div data-role="collapsible-set">
          <div id="favs" data-role="collapsible">
            <h3>Favs</h3>
            <ul data-role="listview">
              
              <li><a href="#">Blitman<span class="ui-li-count">West 12:00pm</span></a></li>
              <li><a href="#">Union<span class="ui-li-count">East 1:00pm</span></a></li>
            </ul>
          </div>
            <div id="west" data-role="collapsible">
              <h3>West</h3>
              <ul data-role="listview">
                <li><a href="#">Blitman<span class="ui-li-count">2:00pm</span></a></li>
                <li><a href="#">Union<span class="ui-li-count">3:00pm</span></a></li>
                <li><a href="#">Polytech<span class="ui-li-count">4:00pm</span></a></li>
                <li><a href="#">Moe's<span class="ui-li-count">5:00pm</span></a></li>
              </ul>
            </div>
            <div id="east" data-role="collapsible">
              <h3>East</h3>
              <ul data-role="listview">
                
                <li><a href="#">ECAV<span class="ui-li-count">6:00pm</span></a></li>
                <li><a href="#">Union<span class="ui-li-count">7:00pm</span></a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div data-role="panel" data-id="main">
    <div data-role="page" id="map">
      <div data-role="header"><h1>Map</h1></div>
      <div data-role="content">
        <div id="map_canvas"></div>
      </div>
    </div>
  </div>
  
  <div id="map_header">
      <span id="loading_icon" style="display: none;"> <%= image_tag 'full_map/loading.gif'%> </span>
      <span id="error_icon" style="display: none;"><%= image_tag 'full_map/error.png'%> </span>
      <span id="status">Loading...</span>
</div>
<% end %>
