<% content_for :js_ready do %>
  
  var mapHeight = $(window).height() - $('.ui-header').height();
  $('#map_canvas').css('height', mapHeight);

  //Setup the overlays
  $("a[rel]").overlay({
  top: 150,
  onBeforeLoad: function() {
  var wrap = this.getOverlay().find(".contentWrap");
  wrap.load(this.getTrigger().attr("href"));
  }
  });
  //Map work
  var point = {latitude: <%= MAP_CENTER[:lat] %>, longitude: <%= MAP_CENTER[:long] %>};
  map = setup_map(point, 15);
  $.ajaxSetup({
  timeout: <%= AJAX_TIMEOUT %>
  });
  $('#status').ajaxError(function(e, xhr, settings, exception){
  $(this).text("Unable to load data.");
  $('#loading_icon').hide();
  $('#error_icon').show();
  });
  $('#status').ajaxStart(function(){
  $(this).text("Loading...");
  $('#error_icon').hide();
  $('#loading_icon').show();
  });
  $('#status').ajaxSuccess(function(){
  $('#loading_icon').hide();
  });
  updater = setInterval("update()", <%= UPDATE_INTERVAL %>);
  routes_and_stops();
  update(); //Run the first update instead of waiting.
  
  var transitionWidth = 600;
  var columnWidth = 300;
  var viewMode = 0;

  // CSS styles default to tabbed mode
  // Check on startup to determine if this needs to change
  adjustLayoutToWindow()

  // Recheck whenever the window is resized
  $(window).resize(adjustLayoutToWindow);

  function adjustLayoutToWindow()
  {
  if ($(window).width() < transitionWidth && viewMode != 0) {
  setLayout(0);
  } else if ($(window).width() >= transitionWidth && viewMode != 1) {
  setLayout(1);
  }
  }

  // Mode 0 is tabbed mode, Mode 1 is two-column mode
  function setLayout(mode) {
  viewMode = mode;
  if (mode == 0) {
  $('#map').show();
  $('#eta').hide();
  $('#nav_bar').show();
  $('#map_tab').addClass('ui-btn-active');
  $('#eta_tab').removeClass('ui-btn-active');
  $('#map').css('float', 'left');
  $('#map').css('margin-left', '0px');
  $('#eta').css('float', 'left');
  $('#eta').css('width', '100%');
  } else if (mode == 1) {
  $('.content_div').show();			
  $('#nav_bar').hide();
  $('#map').css('float', 'none');
  $('#map').css('margin-left', (columnWidth + 30) + 'px');
  $('#eta').css('float', 'left');
  $('#eta').css('width', columnWidth + 'px');
  }
  }

  // Handle clicks on the tab buttons
  $(document).delegate('[data-role="navbar"] a', 'click', function () {
  $(this).addClass('ui-btn-active');
  $('.content_div').hide();
  $('#' + $(this).attr('data-href')).show();
  });

<% end %>
<% content_for :js do %>
  var current_data_path = '<%= displays_current_path(:format => 'js') %>';
  var netlink_data_path = '<%= displays_netlink_path(:format => 'js') %>';
  var base_icon = '<%= rotate_icon_path(:id => ':id', :heading => ':heading', :format => 'png') %>';
  var stop_icon_path = '<%= image_path "blue_dot.png" %>';
<% end %>
<%#*<div id="shuttle_logo"></div>%>
<% content_for :large do %>

  <div data-role="page">
    <div data-role="header"> 
      <h1>RPI Shuttles</h1>
      <div data-role="navbar" data-iconpos="none" id="nav_bar">
        <ul>
          <li>
            <a href="#" class="nav_button" id="map_tab" data-href="map" data-theme="" data-icon="" class="ui-btn-active">
              Map
            </a>
          </li>
          <li>
            <a href="#" class="nav_button" id="eta_tab" data-href="eta" data-theme="" data-icon="">
              ETA
            </a>
          </li>
        </ul>
      </div>
      <a href="#" data-role="button" data-icon="refresh" data-iconpos="notext" id="refresh">Refresh</a>
    </div>


    <div data-role="content" >
      <div id="eta" class="content_div">
        <div data-role="collapsible-set">
          <div id="favs" data-role="collapsible" data-collapsed="true">
            <h3>Favs</h3>
            <ul data-role="listview" data-split-icon="star" data-split-theme="d">

              <li><a href="#">Blitman<span class="ui-li-count">West 12:00pm</span></a><a href="#"></a></li>
              <li><a href="#">Union<span class="ui-li-count">East 1:00pm</span></a><a href="#"></a></li>
            </ul>
          </div>

          <% @routes.each do |route| %>
            <div id="<%= route.name %>" data-role="collapsible">
              <h3><%= route.name %></h3>
              <ul data-role="listview" data-split-icon="star" data-split-theme="d">
                <% @stops.each do |stop|%>

                  <li><a href="#"><%= stop.name %><span class="ui-li-count"><%=stop.etas.minimum(:timestamp).strftime("%l:%M %P") %></span></a><a href="#"></a></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
      <div id="map" class="content_div">
        <div id="map_header">
          <span id="loading_icon" style="display: none;"> <%= image_tag 'full_map/loading.gif'%> </span>
          <span id="error_icon" style="display: none;"><%= image_tag 'full_map/error.png'%> </span>
          <span id="status">Loading...</span>
        </div>
        <div id="map_canvas">

        </div>			
      </div>

    </div>
  </div>
<% end %>
