<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Track Vehicles Live</title>
  <%= include_stylesheets :test, :map %>
  <%= include_javascripts :common, :map, :test %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
  <meta name="description" content="Real time vehicle tracking!" />
  <% if content_for?(:js_ready) %>
    <script type="text/javascript">
      $(document).ready(function() {
        <%= yield(:js_ready) %>
      });
    </script>
  <% end %>
  <% if content_for?(:js) %>
    <script type="text/javascript">
      <%= yield(:js) %>
    </script>
  <% end %>
</head>
<body>
  <% if flash[:notice] %><p style="color: green"><%= flash[:notice] %></p><% end %>

    <%= yield(:large) %>
 
</body>
</html>
